* {
  font-family: "Poppins", sans-serif;
  margin:0;
  padding:0;
}

body {
  background: linear-gradient(to bottom, #796878 10%, #50404d);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  align-items: center;
  display:flex;
  justify-content: center;
  margin: 160px auto;
  

}

.app{
  display: flex;
  border-radius: 1px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 65vh;
  background-image: url('../Images/clouds.jpg');
  
}
.details-container::after {
  content: "";
  display:block;
  height:100%;
  width:100%;
  background-color: black;
  position: absolute;
  top:0;
  left:0;
  opacity: .8;
  z-index: 0;

}

.details-container {
  position: relative;
  width: 50%;
  padding: 40px 80px;
  
}
.details-container > * {
  z-index: 10;
  position: relative;
 
}



.display-weather{
  display: flex;
  flex-direction: column;
  order: -1;
  margin:280px auto;
  width: 50%;
  padding:45px;
  
}

.weather-details{
  padding:12px;
  order: -2;
  margin: 0 auto;
}
  
.hours-container{
  order: -3;
}
.weather-app-h1 {
  display:flex;
  position: absolute;
}

  .weather-app-h1 h1{
    margin-left:60px;
    margin-top:43px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
 
  }
  .city-temp{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .date{
    display: flex;
    
  }
  
 .temperature {
  display: flex;
  flex-direction: row;
  align-items:center;
  margin-bottom: -48px;
  padding:2px;
  
 }

 .degree{
  font-size:5.9rem;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-left: 8px;
 

 }

 .temperature h2 {
  margin-right: 12px;
 }
 
 .city  {
  font-size: 2.9rem;
  font-weight: 500;
  color: white;
 }

 .date {
  display: flex;
  flex-direction: row;
  margin-left:60px;
  margin-bottom: 40px;
  
  

 }

 .date p{
   font-size:13px;
   color:whitesmoke;
 
 }

  img {
    width: 45px;
    display: inline-block;
    text-align: center;
    margin-left: 40px;
    margin-top: 12px;
  
  }
  .image img {
    filter: grayscale(100%) opacity (50%);
  }
  .transparent-gray{
    filter: grayscale(100%) opacity(50%);
  }

  .time {
    margin-left: 115px;
    display: inline-block;
  
  }
  
  .condition{
    margin-left: 30px;
  }
 
  .grid-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:180px;
  
    
 }
 .calendar{
  display: flex;
  flex-wrap: nowrap;
  
 
 }
 
 .box {
  font-size:17px;
  flex:1;
  background-color:rgba(211, 211, 211, 0.5);
  border-right: 1px solid rgba(191,193,194,0.8);
  display: inline-block;
  padding: 10px 20px;
  width: 30px;
  color: white;
  font-family: "Poppins", sans-serif;
  text-align:center;
  letter-spacing: 1px;
  font-weight:500;

 }
 .box:last-child {
  border-right: none;
 }

.grid-container ul {
  list-style: none;
  margin-bottom: 55px;
  
  
}

.grid-container ul li {
  color: white;
  font-weight:400;
  padding-bottom: 10px;
  padding-right:2px;
  
 
 
}
.left-column{
  text-align: left;
}
.right-column {
  float: right;
  text-align: right;
 
}

.heading {
  border-bottom: 2px solid gray;
  margin-bottom:25px;
 
}
.heading h2 {
  margin-bottom: 10px;
  font-weight:600;
  font-size: 17px;
  color: white;
}

