.container {
  max-width: 1580px;
  align-items: center;
  display:flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
   
}
.app{
  display: flex;
  
}
.display-weather 
.weather-details {
  flex-grow: 1;
}



